@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=Droid+Sans');
/* CSS Document */

body {
    padding: 0;
    margin: 0;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

#content {
    margin-top: 100px;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    height: 72px;
    text-align: center;
    background-color: #fffff3;
    border-bottom-style: solid;
    border-bottom-color: #f4dabc;
    border-bottom-width: 1pt;
    z-index: 100;
}

#logo {
    height: 37px;
    margin-top: 18px;
    position: relative;
    text-align: left;
}

#navigation {
}

#navigation ul {
    postion: relative;
    margin-top: 30px;
    text-align: center;
}

#navigation li {
    float: left;
    width: 20%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.4;
    display: block;
    rigth: 50%;
}

#navigation li.selected {
    opacity: 0.8;
}

#navigation a {
    display: block;
    font-size: 18px;
    font-family: Droid Sans, sans-serif;
    color: #000;
    text-decoration: none;
    position: relative;
}

#navigation a:hover {
    color: grey;
}

.new_hr {
	margin: 0 0 25px 0;
    height: 1px;
    border: 0;
    background: #f4dabc;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#F8F4E4), to(#F8F4E4), color-stop(50%, #f4dabc));
	background-image: -o-linear-gradient(right, #F8F4E4 0%, #F4DABC 50%, #F8F4E4 100%);
	background-image: -moz-linear-gradient(right, #F8F4E4 0%, #F4DABC 50%, #F8F4E4 100%);
	background-image: -webkit-linear-gradient(right, #F8F4E4 0%, #F4DABC 50%, #F8F4E4 100%);
	background-image: -ms-linear-gradient(right, #F8F4E4 0%, #F4DABC 50%, #F8F4E4 100%);
	background-image: linear-gradient(to right, #F8F4E4 0%, #F4DABC 50%, #F8F4E4 100%);
}

.header {
    text-align: center;
}

#projects.sixteen {
	margin-left: 22px;
	margin-right: 22px;
}

.project_tile {
	position: relative;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
    background-color: #fff;
    width: 290px;
    height: 163px;
}

.project_tile img {
	width: 100%;
	height: 100%;
}

.header {
    font-family: Droid Sans, sans-serif;
    font-size: 22px;
    color: #c9884d;
    margin-top: 20px;
    margin-bottom: 20px;
	font-weight:600;
}

.header.project_header {
    font-size: 20px;
}

.header.project_sub_header {
	font-size: 18px;
	text-align: left;
	font-weight:600;
}

.header .progress_header {
	font-size: 14px;
	text-align: left;
	width: 50%;
	
}

.header .progress_link {
	width: 50%;
	text-align: right;
}

.header .progress_link a {
	font-family: Droid Sans, sans-serif;
    font-size: 14px;
    color: #c9884d;
	text-decoration:none
}

.header .progress_link a:visited {
	color: #c9884d;
}


.quote_box {
    width: 100%;
    border: 1px solid #f4dabc;
    background-color: #fffff3;
	margin-bottom: 20px;
	padding: 10px
}

.quote_box .quote {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
	/*font-weight: 600;*/
}

.quote_box .intro {
   text-align: center;
   margin: 30px;
}

.quote_box .quote_before {
    display: block;
    margin-bottom: 0;
	margin-left: 10px;
}

.quote_box .quote_after {
    display: block;
    text-align: right;
	margin-right: 10px;
}

.quote_box .creator {
    text-align: right;

}

.new_hr {
    margin-bottom: 20px;
/* [disabled]margin-bottom: 20px; */
}

#articles .body {
    text-align: center;
}

#footer {
    height: 32px;
    background-color: #fffff3;
    border-top-style: solid;
    border-top-color: #f4dabc;
    border-top-width: 1pt;
    padding-top: 10px;
    padding-left: 10px;
}

.image_normal {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover; 
}


.image_hover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
}

.image_hover .project_name{
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	font-family: Droid Sans, sans-serif;
    font-size: 22px;
    color: black;
	font-weight:bold;
	margin-top: -10px;
	text-shadow: 1px 0 0 #d3d3d3, -1px 0 0 #d3d3d3, 0 1px 0 #d3d3d3, 0 -1px 0 #d3d3d3, 1px 1px #d3d3d3, -1px -1px 0 #d3d3d3, 1px -1px 0 #d3d3d3, -1px 1px 0 #d3d3d3;
}

#newproject_tile .project_name {
	margin-left: -58px;
}

#mapit_tile .project_name {
	margin-left: -31px;

}

#massmailer_tile .project_name {
	margin-left: -66px;

}

.resume {
	display: block;
	text-align: center;
	margin-bottom: 25px;
}

.resume .text{
	margin-left: -20px;
}
.project_link{
	width: 50%;
	text-align: left;
}
.project_link a{
	
	font-family: Droid Sans, sans-serif;
    font-size: 16px;
    color: #c9884d;
	font-weight:600;
	text-decoration:none;
	
}

.project_link a:visited {
	color: #c9884d;
}

.github_link {
	width: 50%;
	text-align: right;
}
.github_link a{
	font-family: Droid Sans, sans-serif;
    font-size: 16px;
    color: #c9884d;
	font-weight: 600;
	text-decoration:none;
}

.github_link a:visited {
	color: #c9884d;
}

.content table {
	width: 100%;
}

.content li {
	margin-left: 10px;
    list-style-type: circle;
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
	.project_tile {
		width: 350px;
		height: 197px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.nav { height: 108px; }
	#logo { text-align: center; }
	#navigation ul {margin-top: 20px;}
	#content {margin-top: 126px;}
	.project_tile  {
		width: 420px;
		height: 236px;
	}
}

@media only screen and (max-width: 479px) {
	.nav { height: 108px; }
	#logo { text-align: center; }
	#navigation ul {margin-top: 20px;}
	#navigation a {font-size: 14px;}
	#content {margin-top: 126px;}
	.project_tile {
		width: 290px;
		height: 163px;
	}
	
}
